.drop-down-list {
    width: 100%;
    margin: 1rem 0;
    color: var(--text1);
    max-height: 10rem;
    overflow-y: auto;
}

.drop-down-list .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    padding: 0 0.5rem;
    font-weight: 400;
    font-size: 1rem;
}

.drop-down-list .list-title {
    font-weight: 500;
    font-size: 1.1rem;
    user-select: none;
}

.drop-down-list .list-item i {
    color: var(--text2);
}

.hover:hover {
    cursor: pointer;
    background-color: var(--secondary);
    color: var(--text2);
    border-top: 1px solid var(--primary);
}

.drop-down-list .list-container {
    display: flex;
    flex-direction: column;
    user-select: none;
}
